In [60]:
import pandas as pd

# 49ER WC 2024

In [61]:
df1 = pd.read_csv("../49er_wc.csv", encoding='iso-8859-1')

list_of_data = list()
for each_athlete in range(len(df1)):
    data = list(df1.iloc[each_athlete])
    for each_regata in range(6, 24):
        try:
            list_of_data.append([data[2], data[4].upper(), data[3].split(" ")[0], f"Q{each_regata - 5}", data[each_regata].split("-")[0], data[each_regata].split("-")[1], data[each_regata].split("-")[2], data[-2], data[-1], "49ER", "World Championship 2024", 0])
        except:
            continue
        
df1_auxi = pd.DataFrame(columns=["Position", "Athlete", "Nacionalidade", "Regata", "Pontuação Regata", "Punição", "Descarte", "Total", "Net", "Classe Vela", "Nome Competição", "Flotilha"], data=list_of_data)
df1_auxi.head()

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Punição,Descarte,Total,Net,Classe Vela,Nome Competição,Flotilha
0,1,"ERWAN FISCHER, CLEMENT PEQUIN",FRA,Q1,11,0,0,76.0,58.0,49ER,World Championship 2024,0
1,1,"ERWAN FISCHER, CLEMENT PEQUIN",FRA,Q2,1,0,0,76.0,58.0,49ER,World Championship 2024,0
2,1,"ERWAN FISCHER, CLEMENT PEQUIN",FRA,Q3,7,0,0,76.0,58.0,49ER,World Championship 2024,0
3,1,"ERWAN FISCHER, CLEMENT PEQUIN",FRA,Q4,3,0,0,76.0,58.0,49ER,World Championship 2024,0
4,1,"ERWAN FISCHER, CLEMENT PEQUIN",FRA,Q5,1,0,0,76.0,58.0,49ER,World Championship 2024,0

# 49ERFX WC 2024

In [62]:
df2 = pd.read_csv("../49erfx_wc.csv", encoding='iso-8859-1')

list_of_data = list()
for each_athlete in range(len(df2)):
    data = list(df2.iloc[each_athlete])
    for each_regata in range(6, 23):
        try:
            list_of_data.append([data[2], data[4].upper(), data[3].split(" ")[0], f"Q{each_regata - 5}", data[each_regata].split("-")[0], data[each_regata].split("-")[1], data[each_regata].split("-")[2], data[-2], data[-1], "49ERFX", "World Championship 2024", 0])
        except:
            continue

df2_auxi = pd.DataFrame(columns=["Position", "Athlete", "Nacionalidade", "Regata", "Pontuação Regata", "Punição", "Descarte", "Total", "Net", "Classe Vela", "Nome Competição", "Flotilha"], data=list_of_data)
df2_auxi.head()

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Punição,Descarte,Total,Net,Classe Vela,Nome Competição,Flotilha
0,1,"ODILE VAN AANHOLT, ANNETTE DUETZ",NED,Q1,1,0,0,80,63,49ERFX,World Championship 2024,0
1,1,"ODILE VAN AANHOLT, ANNETTE DUETZ",NED,Q2,3,0,0,80,63,49ERFX,World Championship 2024,0
2,1,"ODILE VAN AANHOLT, ANNETTE DUETZ",NED,Q3,1,0,0,80,63,49ERFX,World Championship 2024,0
3,1,"ODILE VAN AANHOLT, ANNETTE DUETZ",NED,Q4,3,0,0,80,63,49ERFX,World Championship 2024,0
4,1,"ODILE VAN AANHOLT, ANNETTE DUETZ",NED,Q5,6,0,0,80,63,49ERFX,World Championship 2024,0

# 470 WC Mixed

In [63]:
df3 = pd.read_csv("../470_mixed.csv", encoding='iso-8859-1')

list_of_data = list()
for each_athlete in range(len(df3)):
    data = list(df3.iloc[each_athlete])
    for each_regata in range(7, 23):
        try:
            list_of_data.append([data[2], data[5].upper(), data[3].split(" ")[0], f"Q{each_regata - 6}", data[each_regata].split("-")[0], data[each_regata].split("-")[1], data[each_regata].split("-")[2], data[-2], data[-1], "470", "World Championship 2024", 0])
        except:
            continue

df3_auxi = pd.DataFrame(columns=["Position", "Athlete", "Nacionalidade", "Regata", "Pontuação Regata", "Punição", "Descarte", "Total", "Net", "Classe Vela", "Nome Competição", "Flotilha"], data=list_of_data)
df3_auxi.head()

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Punição,Descarte,Total,Net,Classe Vela,Nome Competição,Flotilha
0,1,"JORDI XAMMAR, NORA BRUGMAN",ESP,Q1,3,0,0,69.0,56.0,470,World Championship 2024,0
1,1,"JORDI XAMMAR, NORA BRUGMAN",ESP,Q2,1,0,0,69.0,56.0,470,World Championship 2024,0
2,1,"JORDI XAMMAR, NORA BRUGMAN",ESP,Q3,7,0,0,69.0,56.0,470,World Championship 2024,0
3,1,"JORDI XAMMAR, NORA BRUGMAN",ESP,Q4,8,0,0,69.0,56.0,470,World Championship 2024,0
4,1,"JORDI XAMMAR, NORA BRUGMAN",ESP,Q5,11,0,0,69.0,56.0,470,World Championship 2024,0

# ILCA 6 EC GOLD

In [64]:
df4 = pd.read_csv("../ilca_6_ec_gold.csv", encoding='iso-8859-1')

list_of_data = list()
for each_athlete in range(len(df4)):
    data = list(df4.iloc[each_athlete])
    for each_regata in range(7, 15):
        try:
            list_of_data.append([data[1], data[4].upper(), data[2], f"Q{each_regata - 6}", data[each_regata].split("-")[0], data[each_regata].split("-")[1], data[each_regata].split("-")[2], data[-2], data[-1], "ILCA 6", "European Championship 2024", "Gold"])
        except:
            continue

df4_auxi = pd.DataFrame(columns=["Position", "Athlete", "Nacionalidade", "Regata", "Pontuação Regata", "Punição", "Descarte", "Total", "Net", "Classe Vela", "Nome Competição", "Flotilha"], data=list_of_data)
df4_auxi.head()

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Punição,Descarte,Total,Net,Classe Vela,Nome Competição,Flotilha
0,1,MARIA ERDI,HUN,Q1,3,0,0,32,21.0,ILCA 6,European Championship 2024,Gold
1,1,MARIA ERDI,HUN,Q2,5,0,0,32,21.0,ILCA 6,European Championship 2024,Gold
2,1,MARIA ERDI,HUN,Q3,3,0,0,32,21.0,ILCA 6,European Championship 2024,Gold
3,1,MARIA ERDI,HUN,Q4,6,0,0,32,21.0,ILCA 6,European Championship 2024,Gold
4,1,MARIA ERDI,HUN,Q5,11,1,0,32,21.0,ILCA 6,European Championship 2024,Gold

# ILCA 6 EC SILVER

In [67]:
df5 = pd.read_csv("../ilca_6_ec_silver.csv", encoding='iso-8859-1')

list_of_data = list()
for each_athlete in range(len(df5)):
    data = list(df5.iloc[each_athlete])
    for each_regata in range(8, 15):
        try:
            list_of_data.append([data[1], data[4].upper(), data[2], f"Q{each_regata - 7}", data[each_regata].split("-")[0], data[each_regata].split("-")[1], data[each_regata].split("-")[2], data[-2], data[-1], "ILCA 6", "European Championship 2024", "Silver"])
        except:
            continue

df5_auxi = pd.DataFrame(columns=["Position", "Athlete", "Nacionalidade", "Regata", "Pontuação Regata", "Punição", "Descarte", "Total", "Net", "Classe Vela", "Nome Competição", "Flotilha"], data=list_of_data)
df5_auxi.head()

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Punição,Descarte,Total,Net,Classe Vela,Nome Competição,Flotilha
0,1,DAISY COLLINGRIDGE,GBR,Q1,48,0,0,189,133.0,ILCA 6,European Championship 2024,Silver
1,1,DAISY COLLINGRIDGE,GBR,Q2,23,0,0,189,133.0,ILCA 6,European Championship 2024,Silver
2,1,DAISY COLLINGRIDGE,GBR,Q3,19,0,0,189,133.0,ILCA 6,European Championship 2024,Silver
3,1,DAISY COLLINGRIDGE,GBR,Q4,8,0,0,189,133.0,ILCA 6,European Championship 2024,Silver
4,1,DAISY COLLINGRIDGE,GBR,Q5,56,1,UFD,189,133.0,ILCA 6,European Championship 2024,Silver

# ILCA 6 WC 2024

In [68]:
df6 = pd.read_csv("../ilca_6_wc.csv", encoding='iso-8859-1')

list_of_data = list()
for each_athlete in range(len(df6)):
    data = list(df6.iloc[each_athlete])
    for each_regata in range(6, 17):
        try:
            list_of_data.append([data[1][:-2], data[4].upper(), data[2], f"Q{each_regata - 5}", data[each_regata].split("-")[0], data[each_regata].split("-")[1], data[each_regata].split("-")[2], data[-3], data[-2], "ILCA 6", "World Championship 2024", 0])
        except:
            continue
        
df6_auxi = pd.DataFrame(columns=["Position", "Athlete", "Nacionalidade", "Regata", "Pontuação Regata", "Punição", "Descarte", "Total", "Net", "Classe Vela", "Nome Competição", "Flotilha"], data=list_of_data)
df6_auxi.head()

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Punição,Descarte,Total,Net,Classe Vela,Nome Competição,Flotilha
0,1,ANNE MARIE RINDOM,DEN,Q1,3.0,0,0,85.0,58.0,ILCA 6,World Championship 2024,0
1,1,ANNE MARIE RINDOM,DEN,Q2,1.0,0,0,85.0,58.0,ILCA 6,World Championship 2024,0
2,1,ANNE MARIE RINDOM,DEN,Q3,1.0,0,0,85.0,58.0,ILCA 6,World Championship 2024,0
3,1,ANNE MARIE RINDOM,DEN,Q4,6.0,0,0,85.0,58.0,ILCA 6,World Championship 2024,0
4,1,ANNE MARIE RINDOM,DEN,Q5,27.0,1,0,85.0,58.0,ILCA 6,World Championship 2024,0

# ILCA 7 EC 2024 BRONZE

In [72]:
df7 = pd.read_csv("../ilca_7_ec_bronze.csv", encoding='iso-8859-1')

list_of_data = list()
for each_athlete in range(len(df7)):
    data = list(df7.iloc[each_athlete])
    for each_regata in range(7, 14):
        try:
            list_of_data.append([data[1], data[4].upper(), data[2], f"Q{each_regata - 6}", data[each_regata].split("-")[0], data[each_regata].split("-")[1], data[each_regata].split("-")[2], data[-2], data[-1], "ILCA 7", "European Championship 2024", "Bronze"])
        except:
            continue

df7_auxi = pd.DataFrame(columns=["Position", "Athlete", "Nacionalidade", "Regata", "Pontuação Regata", "Punição", "Descarte", "Total", "Net", "Classe Vela", "Nome Competição", "Flotilha"], data=list_of_data)
df7_auxi.head()

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Punição,Descarte,Total,Net,Classe Vela,Nome Competição,Flotilha
0,1,ENRICO TANFERNA,ITA,Q1,24,0,0,131,102,ILCA 7,European Championship 2024,Bronze
1,1,ENRICO TANFERNA,ITA,Q2,28,0,0,131,102,ILCA 7,European Championship 2024,Bronze
2,1,ENRICO TANFERNA,ITA,Q3,27,0,0,131,102,ILCA 7,European Championship 2024,Bronze
3,1,ENRICO TANFERNA,ITA,Q4,29,1,0,131,102,ILCA 7,European Championship 2024,Bronze
4,1,ENRICO TANFERNA,ITA,Q5,18,0,0,131,102,ILCA 7,European Championship 2024,Bronze

# ILCA 7 EC 2024 GOLD

In [75]:
df8 = pd.read_csv("../ilca_7_ec_gold.csv", encoding='iso-8859-1')

list_of_data = list()
for each_athlete in range(len(df8)):
    data = list(df8.iloc[each_athlete])
    for each_regata in range(8, 16):
        try:
            list_of_data.append([data[2], data[5].upper(), data[3], f"Q{each_regata - 7}", data[each_regata].split("-")[0], data[each_regata].split("-")[1], data[each_regata].split("-")[2], data[-2], data[-1], "ILCA 7", "European Championship 2024", "Gold"])
        except:
            continue

df8_auxi = pd.DataFrame(columns=["Position", "Athlete", "Nacionalidade", "Regata", "Pontuação Regata", "Punição", "Descarte", "Total", "Net", "Classe Vela", "Nome Competição", "Flotilha"], data=list_of_data)
df8_auxi.head()

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Punição,Descarte,Total,Net,Classe Vela,Nome Competição,Flotilha
0,1,VALTTERI UUSITALO,FIN,Q1,3,0,0,67,42,ILCA 7,European Championship 2024,Gold
1,1,VALTTERI UUSITALO,FIN,Q2,9,0,0,67,42,ILCA 7,European Championship 2024,Gold
2,1,VALTTERI UUSITALO,FIN,Q3,9,0,0,67,42,ILCA 7,European Championship 2024,Gold
3,1,VALTTERI UUSITALO,FIN,Q4,6,0,0,67,42,ILCA 7,European Championship 2024,Gold
4,1,VALTTERI UUSITALO,FIN,Q5,3,0,0,67,42,ILCA 7,European Championship 2024,Gold

# ILCA 7 EC 2024 SILVER

In [77]:
df9 = pd.read_csv("../ilca_7_ec_silver.csv", encoding='iso-8859-1')

list_of_data = list()
for each_athlete in range(len(df9)):
    data = list(df9.iloc[each_athlete])
    for each_regata in range(7, 14):
        try:
            list_of_data.append([data[1], data[4].upper(), data[2], f"Q{each_regata - 6}", data[each_regata].split("-")[0], data[each_regata].split("-")[1], data[each_regata].split("-")[2], data[-2], data[-1], "ILCA 7", "European Championship 2024", "Silver"])
        except:
            continue

df9_auxi = pd.DataFrame(columns=["Position", "Athlete", "Nacionalidade", "Regata", "Pontuação Regata", "Punição", "Descarte", "Total", "Net", "Classe Vela", "Nome Competição", "Flotilha"], data=list_of_data)
df9_auxi.head()

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Punição,Descarte,Total,Net,Classe Vela,Nome Competição,Flotilha
0,1,CHUSITT PUNJAMALA,THA,Q1,9,0,0,90,62,ILCA 7,European Championship 2024,Silver
1,1,CHUSITT PUNJAMALA,THA,Q2,13,0,0,90,62,ILCA 7,European Championship 2024,Silver
2,1,CHUSITT PUNJAMALA,THA,Q3,12,0,0,90,62,ILCA 7,European Championship 2024,Silver
3,1,CHUSITT PUNJAMALA,THA,Q4,22,0,0,90,62,ILCA 7,European Championship 2024,Silver
4,1,CHUSITT PUNJAMALA,THA,Q5,28,1,0,90,62,ILCA 7,European Championship 2024,Silver

# CONCATENAÇÃO

In [85]:
for i in range(1, 10):
    print(eval(f"df{i}").shape)

(71, 29)
(51, 28)
(61, 20)
(55, 17)
(55, 16)
(101, 20)
(45, 16)
(46, 18)
(45, 16)

In [81]:
df_final = pd.concat([df1_auxi, df2_auxi, df3_auxi, df4_auxi, df5_auxi, df6_auxi, df7_auxi, df8_auxi, df9_auxi]).reset_index(drop=True)

In [86]:
df_final.columns

Index(['Position', 'Athlete', 'Nacionalidade', 'Regata', 'Pontuação Regata',
       'Punição', 'Descarte', 'Total', 'Net', 'Classe Vela', 'Nome Competição',
       'Flotilha'],
      dtype='object')

In [87]:
df_final = df_final.rename(columns={"Position":"Posição Geral", "Athlete":"Nome Competidor", 
                                    "Net":"Nett", "Total":"Pontuação Total"})

In [88]:
df_final.head()

,Posição Geral,Nome Competidor,Nacionalidade,Regata,Pontuação Regata,Punição,Descarte,Pontuação Total,Nett,Classe Vela,Nome Competição,Flotilha
0,1,"ERWAN FISCHER, CLEMENT PEQUIN",FRA,Q1,11,0,0,76.0,58.0,49ER,World Championship 2024,0
1,1,"ERWAN FISCHER, CLEMENT PEQUIN",FRA,Q2,1,0,0,76.0,58.0,49ER,World Championship 2024,0
2,1,"ERWAN FISCHER, CLEMENT PEQUIN",FRA,Q3,7,0,0,76.0,58.0,49ER,World Championship 2024,0
3,1,"ERWAN FISCHER, CLEMENT PEQUIN",FRA,Q4,3,0,0,76.0,58.0,49ER,World Championship 2024,0
4,1,"ERWAN FISCHER, CLEMENT PEQUIN",FRA,Q5,1,0,0,76.0,58.0,49ER,World Championship 2024,0

In [89]:
nova_ordem = ['ID Resultado', 'ID Competidor', 'Nome Competidor', 'ID Competição', 'Classe Vela',
              'Pontuação Regata', 'Descarte', 'Flotilha', 'Posição Geral', 'Punição',
              'Pontuação Total', 'Nett', 'Nome Competição', 'Regata', 'Nacionalidade']

df_final = df_final.reindex(columns=nova_ordem)

df_final.head()

,ID Resultado,ID Competidor,Nome Competidor,ID Competição,Classe Vela,Pontuação Regata,Descarte,Flotilha,Posição Geral,Punição,Pontuação Total,Nett,Nome Competição,Regata,Nacionalidade
0,NaN,NaN,"ERWAN FISCHER, CLEMENT PEQUIN",NaN,49ER,11,0,0,1,0,76.0,58.0,World Championship 2024,Q1,FRA
1,NaN,NaN,"ERWAN FISCHER, CLEMENT PEQUIN",NaN,49ER,1,0,0,1,0,76.0,58.0,World Championship 2024,Q2,FRA
2,NaN,NaN,"ERWAN FISCHER, CLEMENT PEQUIN",NaN,49ER,7,0,0,1,0,76.0,58.0,World Championship 2024,Q3,FRA
3,NaN,NaN,"ERWAN FISCHER, CLEMENT PEQUIN",NaN,49ER,3,0,0,1,0,76.0,58.0,World Championship 2024,Q4,FRA
4,NaN,NaN,"ERWAN FISCHER, CLEMENT PEQUIN",NaN,49ER,1,0,0,1,0,76.0,58.0,World Championship 2024,Q5,FRA

In [92]:
df_final.to_csv("matheus.csv", index=False)