In [132]:
import pandas as pd 
from unidecode import unidecode

# EC IQFOIL 2023 FEM

In [133]:
url1 = "https://iqeuropeans2023greece.sailti.com/en/default/races/race-resultsall"
df1 = pd.read_csv("../../arquivos1.csv", encoding='iso-8859-1', sep=";")
df1.columns = ["Pos", "Sail", "Bow", "Crew / Club", "1Q (CR)", "2Q (CR)", "3Q (CR)", "4Q (QR)", "5Q (QR)", "6Q (CR)", "7Q (CR)", "8Q (CR)", "9F (CR)",
               "10F (CR)","11F (CR)", "12F (CR)", "13F (SL)", "14F (SL)", "15F (SL)", "16F (SL/CR)", "17F (CR)", "18F (CR)", "19F (CR)", "MR", "TOTAL", "NET"]
df1

,Pos,Sail,Bow,Crew / Club,1Q (CR),2Q (CR),3Q (CR),4Q (QR),5Q (QR),6Q (CR),...,13F (SL),14F (SL),15F (SL),16F (SL/CR),17F (CR),18F (CR),19F (CR),MR,TOTAL,NET
0,1,NOR 332,NaN,"MOBEKK, Mina / MINA MOBEKK",-15,2,6,3,3,3,...,5,25,3,-29,17,4,-34.0,1.0,207,116
1,2,ISR 390,NaN,"KANTOR, Sharon",-15,-10,2,2,1,1,...,-27,7,7,3,-12,3,1.0,2.0,98,34
2,3,GBR 7,NaN,"WILSON, Emma / Weymouth &",1,3,1,3,3,-6,...,13,3,1,-37,1,2,3.0,3.0,"181,4","67,4"
3,4,FRA 57,NaN,"NOESMOEN, Hélène / BANQUE",1,-10,4,4,6,10,...,-23,17,17,13,4,13,4.0,4.0,195,128
4,5,ISR 3,NaN,"TIBI, Shahar / NOVA",7,1,-14,5,-11,4,...,-41,5,1,1,3,1,-19.0,5.0,134,49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,85,FRA 621,NaN,"BONDOIS, Lila",36,38,39,36,DNC (46),DNC (46),...,41,33,DNC (47),DNC (45),DNC 45,DNC 45,NaN,NaN,708,524
85,86,SUI 130,NaN,"SANDERA, Elena / ELENA",DNF (46),33,35,DNC (46),DNC 46,DNC 46,...,39,19,27,DNC 45,DNC 45,DNC 45,NaN,NaN,744,562
86,87,GRE 182,NaN,"CHEROUVEIM , Marina",DNF (46),39,41,38,DNF (46),DNF 46,...,35,41,33,39,40,DNF (45),NaN,NaN,747,565
87,88,HUN 55,NaN,"SZENTIVANYI, Sara",DNF (46),DNC (46),42,43,DNF 46,DNC 46,...,39,39,-41,38,39,DNC (45),NaN,NaN,751,573
88,89,USA 321,NaN,"LINDSAY, B / US SAILING TEAM",DNC (46),41,43,41,43,DNC (46),...,41,41,43,40,41,DNF (45),NaN,NaN,770,590

In [134]:
list_of_data = list()
for each_athlete in range(len(df1)):
    data = list(df1.iloc[each_athlete])
    for each_regata in range(4, 24):
        list_of_data.append([data[0], data[3].upper(), data[1].split(" ")[0], df1.columns[each_regata], data[each_regata], data[-2], data[-1], "IQFOIL FEM.", "European Championship 2023"])

df1_auxi = pd.DataFrame(columns=["Position", "Athlete", "Nacionalidade", "Regata", "Pontuação Regata", "Total", "Net", "Classe Vela", "Nome Competição"], data=list_of_data)
df1_auxi.head()

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Total,Net,Classe Vela,Nome Competição
0,1,"MOBEKK, MINA / MINA MOBEKK",NOR,1Q (CR),-15,207,116,IQFOIL FEM.,European Championship 2023
1,1,"MOBEKK, MINA / MINA MOBEKK",NOR,2Q (CR),2,207,116,IQFOIL FEM.,European Championship 2023
2,1,"MOBEKK, MINA / MINA MOBEKK",NOR,3Q (CR),6,207,116,IQFOIL FEM.,European Championship 2023
3,1,"MOBEKK, MINA / MINA MOBEKK",NOR,4Q (QR),3,207,116,IQFOIL FEM.,European Championship 2023
4,1,"MOBEKK, MINA / MINA MOBEKK",NOR,5Q (QR),3,207,116,IQFOIL FEM.,European Championship 2023

# EC IQFOIL 2022 FEM

In [135]:
url2 = "https://iqeuropeans2022.sailti.com/en/default/races/race-resultsall"
df2 = pd.read_csv("../../arquivos2.csv", encoding='iso-8859-1', sep=";")
df2.columns = ["Pos", "Sail", "Bow", "Crew / Club", "1Q (CR)", "2Q (CR)", "3Q (CR)", "4Q (QR)", "5Q (QR)", "6Q (CR)", "7Q (CR)", "8Q (CR)", "9F (CR)",
               "10F (CR)","11F (CR)", "12F (CR)", "13F (SL)", "14F (SL)", "15F (SL)", "16F (SL/CR)", "17F (CR)", "18F (CR)", "19F (CR)", "20 (CR)", "MR", "TOTAL", "NET"]
df2

,Pos,Sail,Bow,Crew / Club,1Q (CR),2Q (CR),3Q (CR),4Q (QR),5Q (QR),6Q (CR),...,14F (SL),15F (SL),16F (SL/CR),17F (CR),18F (CR),19F (CR),20 (CR),MR,TOTAL,NET
0,1,FRA 57,NaN,"NOESMOEN, Hélène",-3,1,3,3,1,-11,...,2,DNF (49),11,7,9,13,3,1.0,164,77
1,2,GBR 7,NaN,"WILSON, Emma",-5,3,1,3,1,1,...,1,BFD (49),2,-21,7,7,1,2.0,129,44
2,3,POL 7,NaN,"DZIARNOWSKA, Maja",1,5,3,1,-9,-9,...,4,1,4,15,-39,7,-21,3.0,165,87
3,4,GBR 529,NaN,"WATSON, Islay",3,1,1,-5,4,3,...,19,5,1,DSQ (49),BFD (49),3,7,4.0,238,127
4,5,NED 33,NaN,"WENNEKES, Sara",-19,7,7,-21,5,10,...,24,4,10,-37,7,11,-43,5.0,269,149
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,91,GER 712,NaN,"HAVERLAND , Lena",39,45,33,DNF (49),42,42,...,37,-44,35,37,31,37,19,NaN,786,600
91,92,TUR 899,NaN,"TUNC, Buse",41,31,35,DNF (49),-46,45,...,41,43,37,33,31,37,29,NaN,797,614
92,93,AUT 28,NaN,"ABICHT, Lorena",47,47,41,45,47,-48,...,34,38,41,41,-45,45,33,NaN,858,672
93,94,GRE 182,NaN,"CHEROUVEIM, Marina",-47,43,39,DNC (49),47,46,...,42,45,43,-47,41,41,37,NaN,880,690
94,95,HUN 55,NaN,"SARA, Szentivanyi",47,33,47,DNF (49),46,47,...,40,46,45,45,DNC (49),BFD (49),41,NaN,898,703

In [136]:
list_of_data = list()
for each_athlete in range(len(df2)):
    data = list(df2.iloc[each_athlete])
    for each_regata in range(4, 25):
        list_of_data.append([data[0], data[3], data[1].split(" ")[0], df2.columns[each_regata], data[each_regata], data[-2], data[-1], "IQFOIL FEM.", "European Championship 2022"])

df2_auxi = pd.DataFrame(columns=["Position", "Athlete", "Nacionalidade", "Regata", "Pontuação Regata", "Total", "Net", "Classe Vela", "Nome Competição"], data=list_of_data)
df2_auxi.head()

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Total,Net,Classe Vela,Nome Competição
0,1,"NOESMOEN, Hélène",FRA,1Q (CR),-3,164,77,IQFOIL FEM.,European Championship 2022
1,1,"NOESMOEN, Hélène",FRA,2Q (CR),1,164,77,IQFOIL FEM.,European Championship 2022
2,1,"NOESMOEN, Hélène",FRA,3Q (CR),3,164,77,IQFOIL FEM.,European Championship 2022
3,1,"NOESMOEN, Hélène",FRA,4Q (QR),3,164,77,IQFOIL FEM.,European Championship 2022
4,1,"NOESMOEN, Hélène",FRA,5Q (QR),1,164,77,IQFOIL FEM.,European Championship 2022

# EC IQFOIL 2023 MAS

In [137]:
url3 = "https://iqeuropeans2023greece.sailti.com/en/default/races/race-resultsall"
df3 = pd.read_csv("../../arquivos3.csv", encoding='iso-8859-1', sep=";")
df3.columns = ["Pos", "Sail", "Bow", "Crew / Club", "1Q (CR)", "2Q (CR)", "3Q (CR)", "4Q (QR)", "5Q (QR)", "6Q (CR)", "7Q (CR)", "8Q (CR)", "9F (CR)",
               "10F (CR)","11F (CR)", "12F (CR)", "13F (SL)", "14F (SL)", "15F (SL)", "16F (SL/CR)", "17F (CR)", "18F (CR)", "MR", "TOTAL", "NET"]
df3

,Pos,Sail,Bow,Crew / Club,1Q (CR),2Q (CR),3Q (CR),4Q (QR),5Q (QR),6Q (CR),...,12F (CR),13F (SL),14F (SL),15F (SL),16F (SL/CR),17F (CR),18F (CR),MR,TOTAL,NET
0,1,ITA 150,NaN,"RENNA, Nicolò / FIAMME ORO , SLAM",1,7,-13,2,1,2,...,4,13,23,3,-31,1,17,1.0,217,102
1,2,GER 220,NaN,"KOERDEL, Sebastian / Norddeutscher",2,-9,2,1,-7,3,...,1,1,11,1,1,8,-47,2.0,115,41
2,3,NED 9,NaN,"BADLOE, Kiran / TEAM ALLIANZ",7,-9,6,-31,5,3,...,5,7,1,3,-9,-31,5,3.0,142,62
3,4,FRA 465,NaN,"GOYARD, Nicolas / BANQUE",-1,1,1,-24,1,1,...,11,11,7,1,-37,10,-50,4.0,182,70
4,5,NED 55,NaN,"VAN OPZEELAND, Luuc / LUUC VAN",3,2,2,3,-9,-7,...,2,1,3,3,DSQ (39),15,RET (58),5.0,164,51
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,110,TUR 2004,NaN,"DERINLER, Dora",48,53,DNF (58),RET (58),DNC 58,DNC 58,...,41,DNC (58),47,NaN,NaN,NaN,NaN,NaN,728,554
110,111,GRE 19,NaN,"SOLIDAKIS, Vassilis / ELVALHALCOR",56,DNC (58),DNC (58),DNC 58,51,DNF 58,...,48,49,51,NaN,NaN,NaN,NaN,NaN,745,576
111,112,HUN 53,NaN,"HAMRÁK, Mihály",55,50,DNC (58),DNC (58),DNC 58,DNC 58,...,44,47,-53,NaN,NaN,NaN,NaN,NaN,746,577
112,113,UKR 10,NaN,"MENDELENKO, Vladyslav",55,DNF (58),DNF (58),DNC 58,DNC 58,53,...,49,51,49,NaN,NaN,NaN,NaN,NaN,759,589
113,114,GRE 696,NaN,"ZANNARAS, Finneas",DNC (58),DNC (58),DNC 58,DNC 58,DNC 58,DNC 58,...,50,50,50,NaN,NaN,NaN,NaN,NaN,785,611

In [138]:
list_of_data = list()
for each_athlete in range(len(df3)):
    data = list(df3.iloc[each_athlete])
    for each_regata in range(4, 23):
        list_of_data.append([data[0], data[3], data[1].split(" ")[0], df3.columns[each_regata], data[each_regata], data[-2], data[-1], "IQFOIL MASC.", "European Championship 2023"])

df3_auxi = pd.DataFrame(columns=["Position", "Athlete", "Nacionalidade", "Regata", "Pontuação Regata", "Total", "Net", "Classe Vela", "Nome Competição"], data=list_of_data)
df3_auxi.head()

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Total,Net,Classe Vela,Nome Competição
0,1,"RENNA, Nicolò / FIAMME ORO , SLAM",ITA,1Q (CR),1,217,102,IQFOIL MASC.,European Championship 2023
1,1,"RENNA, Nicolò / FIAMME ORO , SLAM",ITA,2Q (CR),7,217,102,IQFOIL MASC.,European Championship 2023
2,1,"RENNA, Nicolò / FIAMME ORO , SLAM",ITA,3Q (CR),-13,217,102,IQFOIL MASC.,European Championship 2023
3,1,"RENNA, Nicolò / FIAMME ORO , SLAM",ITA,4Q (QR),2,217,102,IQFOIL MASC.,European Championship 2023
4,1,"RENNA, Nicolò / FIAMME ORO , SLAM",ITA,5Q (QR),1,217,102,IQFOIL MASC.,European Championship 2023

# SOFDV KITE 2022 FEM

In [139]:
url4 = "https://sof.ffvoile.roms.ar/2022/images/onbdocs/overall_KITE_WOMEN.pdf"
df4 = pd.read_csv("../../arquivos4.csv", encoding='iso-8859-1', sep=",")
df4["Athlete"] = df4["Pos"] + " " + df4["Crew / Club"]
df4.drop(["Pos", "Crew / Club"], axis=1, inplace=True)
df4

    Pont  Total  Net            Nasc                  Athlete
1      1      1    1  [image] SGP 25       MAEDER  Maximilian
2      2      2    2  [image] FRA 44            MAZELLA  Axel
3      3      3    3  [image] FRA 59           NOCHER  Maxime
4      4      4    4  [image] ITA 52       BOSCHETTI  Lorenzo
5      5      5    5  [image] CRO 43           DOLENC  Martin
..   ...    ...  ...             ...                      ...
64    64     64   64   [image] THA 3         PROMWAEN  Somsak
65    65     65   65  [image] SUI 63          KROCZAK  Marcin
66    66     66   66  [image] SWE 38          OLSSON  Andrï¿½
67    67     67   67  [image] ESP 49  BARBERA FERRAGUD  Oscar
68    68     68   68  [image] AUS 47             SELF  Daniel

[68 rows x 5 columns]

In [140]:
list_of_data = list()
for each_athlete in range(len(df4)):
    data = list(df4.iloc[each_athlete])
    list_of_data.append([data[0], data[4], data[3].split(" ")[1], "OVER", data[0], data[1], data[2], "FORMULA KITE FEM.", "Semaine Olympique Francaise De Voile 2022"])

df4_auxi = pd.DataFrame(columns=["Position", "Athlete", "Nacionalidade", "Regata", "Pontuação Regata", "Total", "Net", "Classe Vela", "Nome Competição"], data=list_of_data)
df4_auxi.head()

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Total,Net,Classe Vela,Nome Competição
0,1,MAEDER Maximilian,SGP,OVER,1,1,1,FORMULA KITE FEM.,Semaine Olympique Francaise De Voile 2022
1,2,MAZELLA Axel,FRA,OVER,2,2,2,FORMULA KITE FEM.,Semaine Olympique Francaise De Voile 2022
2,3,NOCHER Maxime,FRA,OVER,3,3,3,FORMULA KITE FEM.,Semaine Olympique Francaise De Voile 2022
3,4,BOSCHETTI Lorenzo,ITA,OVER,4,4,4,FORMULA KITE FEM.,Semaine Olympique Francaise De Voile 2022
4,5,DOLENC Martin,CRO,OVER,5,5,5,FORMULA KITE FEM.,Semaine Olympique Francaise De Voile 2022

# SOFDV KITE 2022 MAS

In [141]:
url5 = "https://sof.ffvoile.roms.ar/2022/images/onbdocs/overall_KITE_MEN.pdf"
df5 = pd.read_csv("../../arquivos5.csv", encoding='iso-8859-1', sep=",")
df5["Athlete"] = df5["Pos"] + " " + df5["Crew / Club"]
df5.drop(["Pos", "Crew / Club"], axis=1, inplace=True)
df5

      Pont  Total  Net            Nasc                       Athlete
1        1      1    1  [image] USA 22                MOROZ  Daniela
2        2      2    2  [image] FRA 45               NOLOT  Lauriane
3        3      3    3   [image] GBR 1               ALDRIDGE  Ellie
4        4      4    4  [image] FRA 23                NEWLAND  Poema
5        5      5    5  [image] FRA 14              FANCELLI  Alexia
6        6      6    6  [image] AUS 39            WHITEHEAD  Breiana
7        7      7    7   [image] GBR 2           ANDERSON  Madeleine
8        8      8    8  [image] GER 20                 MEYER  Leonie
9        9      9    9   [image] GBR 9             CRATHORNE  Jemima
10      10     10   10  [image] POL 11            DAMASIEWICZ  Julia
11      11     11   11  [image] AUT 17               KORNELLI  Alina
12      12     12   12  [image] FRA 16               KAMPMAN  Jessie
13      13     13   13  [image] GBR 10                 DABSON  Katie
14      14     14   14  [image] ESP 30        PULIDO BORRELL  Gisela
15      15     15   15  [image] GBR 41                   YOUNG  Lily
16      16     16   16  [image] POL 40      WOYCIECHOWSKA  Magdalena
17      17     17   17  [image] ITA 38               TOMASONI  Sofia
18      18     18   18   [image] POL 3                  ARCISZ  Nina
19      19     19   19  [image] FRA 12       DESJARDINS  Anaï¿½s Mai
20      20     20   20  [image] ITA 28              PESCETTO  Maggie
21      21     21   21   [image] ISR 4               ASHKENAZI  Maya
22      22     22   22  [image] FRA 27             PEGOURIE  Heloise
23      23     23   23  [image] ITA 18                LAPORTE  Tiana
24      24     24   24  [image] NED 33         RIJSBERGEN  Kimberley
25      25     25   25  [image] ISR 43                 ZUKERMAN  Gal
26      26     26   26  [image] AUS 37                  TAYLOR  Jane
27      27     27   27   [image] FRA 8                   CAVAL  Lysa
28      28     28   28  [image] FRA 24                  BIVAUD  Nina
29      29     29   29   [image] TUR 6                 ATAKAN  Derin
30      30     30   30  [image] POL 35             SAWICKA  Dominika
31      31     31   31  [image] POL 21              MORKOWSKA  Julia
32      32     32   32   [image] FRA 7                BOUTANG  Zoï¿½
33      33     33   33  [image] FRA 32                  REVIL  Chloe
34      34     34   34  [image] TUR 36         SORGUï¿½  Derin Deniz
35      35     35   35  [image] BRA 31  VASONCELLO  Maria Do Socorro
36      36     36   36  [image] THA 15             JANTAWAN  Benyapa
37      37     37   37  [image] SWE 19             LARSSON  Karolina
38      38     38   38  [image] THA 29              PHISIL  Tatsanee
39      39     39   39  [image] CZE 42             ZIZLAVSKA  Monika
40      40     40   40  [image] POL 34              SATRJAN  Izabela
41      41     41   41  [image] CRO 13                DOLENC  Marija
42  43 DNC     43   43  [image] FRA 44                BALANCA  Lilou

In [142]:
list_of_data = list()
for each_athlete in range(len(df5)):
    data = list(df5.iloc[each_athlete])
    list_of_data.append([data[0].split(" ")[0], data[4], data[3].split(" ")[1], "OVER", data[0], data[1], data[2], "FORMULA KITE MASC.", "Semaine Olympique Francaise De Voile 2022"])

df5_auxi = pd.DataFrame(columns=["Position", "Athlete", "Nacionalidade", "Regata", "Pontuação Regata", "Total", "Net", "Classe Vela", "Nome Competição"], data=list_of_data)
df5_auxi.head()

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Total,Net,Classe Vela,Nome Competição
0,1,MOROZ Daniela,USA,OVER,1,1,1,FORMULA KITE MASC.,Semaine Olympique Francaise De Voile 2022
1,2,NOLOT Lauriane,FRA,OVER,2,2,2,FORMULA KITE MASC.,Semaine Olympique Francaise De Voile 2022
2,3,ALDRIDGE Ellie,GBR,OVER,3,3,3,FORMULA KITE MASC.,Semaine Olympique Francaise De Voile 2022
3,4,NEWLAND Poema,FRA,OVER,4,4,4,FORMULA KITE MASC.,Semaine Olympique Francaise De Voile 2022
4,5,FANCELLI Alexia,FRA,OVER,5,5,5,FORMULA KITE MASC.,Semaine Olympique Francaise De Voile 2022

# SOFDV IQFIOL 2022 FEM

In [143]:
url6 = "https://sof.ffvoile.roms.ar/2022/images/onbdocs/overall_IQFOIL_WOMEN.pdf"
df6 = pd.read_csv("../../arquivos6.csv", encoding='iso-8859-1', sep=";")
df6.columns = ["Pos", "Sail", "Bow", "Crew / Club", "Cat", "1Q (CR)", "2Q (CR)", "3Q (CR)", "4Q (QR)", "5Q (QR)", "6Q (CR)", "7Q (CR)", "8Q (CR)", "9F (CR)",
               "10F (CR)","11F (CR)", "12F (CR)", "13F (SL)", "14F (SL)", "15F (SL)", "TOTAL", "NET"]
df6.head()

,Pos,Sail,Bow,Crew / Club,Cat,1Q (CR),2Q (CR),3Q (CR),4Q (QR),5Q (QR),...,8Q (CR),9F (CR),10F (CR),11F (CR),12F (CR),13F (SL),14F (SL),15F (SL),TOTAL,NET
0,1,FRA 57,NaN,"NOESMOEN, Hélène / OMIA",NaN,1,1,1,1,1,...,-2,-6,1,1,1,-8,1,1,28,12
1,2,POL 7,NaN,"DZIARNOWSKA, Maja / SK?",NaN,-6,-6,6,2,3,...,3,4,2,5,-9,5,1,1,57,36
2,3,FRA 775,NaN,"COUSIN, Delphine / SBYC",NaN,2,3,7,6,2,...,4,2,6,11,3,-13,-15,-15,96,53
3,4,ITA 157,NaN,"MAGGETTI, Marta / Sez. Vela",NaN,-13,-13,-12,7,5,...,1,1,7,1,1,7,3,3,92,54
4,5,NZL 1,NaN,"TEN HAVE, Veerle / TYPBC",NaN,-9,4,2,5,7,...,5,8,4,-17,5,3,RDG (9),5,90,55

In [144]:
list_of_data = list()
for each_athlete in range(len(df6)):
    data = list(df6.iloc[each_athlete])
    for each_regata in range(5, 20):
        list_of_data.append([data[0], data[3].split(" / ")[0], data[1].split(" ")[0], df6.columns[each_regata], data[each_regata], data[-2], data[-1], "IQFOIL FEM.", "Semaine Olympique Francaise De Voile 2022"])

df6_auxi = pd.DataFrame(columns=["Position", "Athlete", "Nacionalidade", "Regata", "Pontuação Regata", "Total", "Net", "Classe Vela", "Nome Competição"], data=list_of_data)
df6_auxi.head()

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Total,Net,Classe Vela,Nome Competição
0,1,"NOESMOEN, Hélène",FRA,1Q (CR),1,28,12,IQFOIL FEM.,Semaine Olympique Francaise De Voile 2022
1,1,"NOESMOEN, Hélène",FRA,2Q (CR),1,28,12,IQFOIL FEM.,Semaine Olympique Francaise De Voile 2022
2,1,"NOESMOEN, Hélène",FRA,3Q (CR),1,28,12,IQFOIL FEM.,Semaine Olympique Francaise De Voile 2022
3,1,"NOESMOEN, Hélène",FRA,4Q (QR),1,28,12,IQFOIL FEM.,Semaine Olympique Francaise De Voile 2022
4,1,"NOESMOEN, Hélène",FRA,5Q (QR),1,28,12,IQFOIL FEM.,Semaine Olympique Francaise De Voile 2022

# SOFDV IQFOIL 2022 MAS

In [145]:
url7 = "https://sof.ffvoile.roms.ar/2022/images/onbdocs/overall_IQFOIL_MEN.pdf"
df7 = pd.read_csv("../../arquivos7.csv", encoding='iso-8859-1', sep=";")
df7.columns = ["Pos", "Nasc/Numb", "Athlete", "1Q (CR)", "2Q (CR)", "3Q (CR)", "4Q (QR)", "5Q (QR)", "6Q (CR)", "7Q (CR)", "8Q (CR)", "9F (CR)",
               "10F (CR)","11F (CR)", "12F (CR)", "13F (SL)", "14F (SL)", "15F (SL)", "16F (SL)", "TOTAL", "NET"]
df7 = df7.dropna()
df7

FileNotFoundError: [Errno 2] No such file or directory: '../../arquivos7.csv'

In [ ]:
list_of_data = list()
for each_athlete in range(len(df7)):
    data = list(df7.iloc[each_athlete])
    for each_regata in range(3, 19):
        list_of_data.append([int(data[0]), data[2], data[1].split(" ")[0], df7.columns[each_regata], data[each_regata], data[-2], data[-1], "IQFOIL MASC.", "Semaine Olympique Francaise De Voile 2022"])

df7_auxi = pd.DataFrame(columns=["Position", "Athlete", "Nacionalidade", "Regata", "Pontuação Regata", "Total", "Net", "Classe Vela", "Nome Competição"], data=list_of_data)
df7_auxi.head()

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Total,Net,Classe Vela,Nome Competição
0,1,"GOYARD, Nicolas",FRA,1Q (CR),(10),33,15,IQFOIL MASC.,Semaine Olympique Francaise De Voile 2022
1,1,"GOYARD, Nicolas",FRA,2Q (CR),(2),33,15,IQFOIL MASC.,Semaine Olympique Francaise De Voile 2022
2,1,"GOYARD, Nicolas",FRA,3Q (CR),2,33,15,IQFOIL MASC.,Semaine Olympique Francaise De Voile 2022
3,1,"GOYARD, Nicolas",FRA,4Q (QR),(6),33,15,IQFOIL MASC.,Semaine Olympique Francaise De Voile 2022
4,1,"GOYARD, Nicolas",FRA,5Q (QR),2,33,15,IQFOIL MASC.,Semaine Olympique Francaise De Voile 2022

# SOFDV 49ER 2022

In [ ]:
url8 = "https://sof.ffvoile.roms.ar/2022/images/onbdocs/overall_49er.pdf"
df8 = pd.read_csv("../../arquivos8.csv", encoding='iso-8859-1', sep=";")
df8

,Pos,Nasc/Number,Athlete,1Q,2Q,3Q,4Q,5Q,6Q,7Q,...,9Q,10F,11F,12F,13F,14F,15F,MR,TOTAL,NET
0,1,POL 19,"BUKSAK, Dominik / KSAWZISE RAZWBIFICSK IG,DS.z...",3,1,1,3,4,1,1,...,2,8,2,10,9,(23),9,8,89,66
1,2,USA 118,"OSPOZNAN\nSANGONEWS, E,N eMvainximiliano",1,4,3,1,2,3,3,...,5,4,(18),17,3,4,14,18,111,93
2,3,FRA 16,"FPIESQCUHIENR, , CElerwmaennt",1,1,14,4,(19),1,1,...,9,2,5,1,6,15,2,16,113,94
3,4,ESP 74,"TBDiROeITgTIoTNE LL EP CAHULE,V FElRo,rian",13,10,1,2,6,5,7,...,4,(18),16,7,2,5,16,6,121,103
4,5,FRA 95,"ARUMAOLR, OLSu,c aEsmile",8,3,5,6,(21),4,5,...,4,1,15,11,7,6,4,O2C2S,137,116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,57,FRA 740,"BGEORUTLIONN, ,Y Cooureennntin",(D3N2F),D3N2F,D3N2F,24,26,26,26,...,28,26,12,24,NaN,NaN,NaN,NaN,315,283
57,58,FRA 181,"KMEANRNTIISN,H ,A Mnaatloole",28,(D3N2F),D3N2F,23,20,24,25,...,27,D3N2F,D3N2F,18,NaN,NaN,NaN,NaN,316,284
58,59,ITA 709,"CMOARSCDIIAN,I , GPiiaentrmoarco",29,(D3N2F),D3N2F,25,28,D3N2F,28,...,28,29,28,26,NaN,NaN,NaN,NaN,344,312
59,60,GER 115,"ROYLA, PhilippHEINRICH, Tom",26,28,6,DNC(32),DNC32,DNF32,DNC32,...,DNC32,DNC32,DNC32,DNC32,NaN,NaN,NaN,NaN,348,316
60,61,AUT 128,"LEHMANN, Niclas / HABERL, Niklas",UFD(32),DNF32,DNS32,23,29,31,DNC32,...,DNC32,18,DNS32,DNC32,NaN,NaN,NaN,NaN,357,325

In [ ]:
list_of_data = list()
for each_athlete in range(len(df8)):
    data = list(df8.iloc[each_athlete])
    for each_regata in range(3, 19):
        list_of_data.append([data[0], data[2], data[1].split(" ")[0], df8.columns[each_regata], data[each_regata], data[-2], data[-1], "49ER", "Semaine Olympique Francaise De Voile 2022"])

df8_auxi = pd.DataFrame(columns=["Position", "Athlete", "Nacionalidade", "Regata", "Pontuação Regata", "Total", "Net", "Classe Vela", "Nome Competição"], data=list_of_data)
df8_auxi.head()

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Total,Net,Classe Vela,Nome Competição
0,1,"BUKSAK, Dominik / KSAWZISE RAZWBIFICSK IG,DS.z...",POL,1Q,3,89,66,49ER,Semaine Olympique Francaise De Voile 2022
1,1,"BUKSAK, Dominik / KSAWZISE RAZWBIFICSK IG,DS.z...",POL,2Q,1,89,66,49ER,Semaine Olympique Francaise De Voile 2022
2,1,"BUKSAK, Dominik / KSAWZISE RAZWBIFICSK IG,DS.z...",POL,3Q,1,89,66,49ER,Semaine Olympique Francaise De Voile 2022
3,1,"BUKSAK, Dominik / KSAWZISE RAZWBIFICSK IG,DS.z...",POL,4Q,3,89,66,49ER,Semaine Olympique Francaise De Voile 2022
4,1,"BUKSAK, Dominik / KSAWZISE RAZWBIFICSK IG,DS.z...",POL,5Q,4,89,66,49ER,Semaine Olympique Francaise De Voile 2022

# SOFDV 49ERFX 2022

In [ ]:
url9 = "https://sof.ffvoile.roms.ar/2022/images/onbdocs/overall_49erFX_.pdf"
df9 = pd.read_csv("../../arquivos9.csv", encoding='iso-8859-1', sep=";")
df9

,Pos,Sail #,Bow,Crew / Club,Cat,1Q,2Q,3Q,4Q,5Q,...,9Q,10F,11F,12F,13F,14F,15F,MR,TOTAL,NET
0,1,BRA 12,NaN,"GRAEL, Martine / RYC KUNZE, Kahena",NaN,8,-13,4,5,8,...,1,11,2,3.0,2.0,1,2.0,12.0,81,68
1,2,USA 8,NaN,"ROBLE, Stephanie / SHEA, Margaret",NaN,2,1,6,9,-12,...,6,4,4,2.0,6.0,9,7.0,10.0,89,77
2,3,NOR 2,NaN,"NOESS, Helene / VOW RONNINGEN, Marie /",NaN,5,13,1,1,1,...,6,16,-19,4.0,1.0,12,3.0,4.0,98,79
3,4,SWE 77,NaN,"BOBECK, Vilma / KSSS\nNETZLER, Rebecca /",NaN,1,1,14,DSQ (20),2,...,1,1,1,9.0,8.0,5,8.0,18.0,103,83
4,5,ARG 16,NaN,"BRANZ, Maria Sol / CARRANZA SAROLI,",NaN,11,8,6,3,6,...,RDG 5.88,17,-17,6.0,4.0,2,1.0,2.0,"101,88","84,88"
5,6,FRA 9,NaN,"GRANIER, Lara / SR\nRIOU, Amélie",NaN,1,5,3,8,6,...,2,8,12,8.0,14.0,11,4.0,14.0,119,99
6,7,BEL 7,NaN,"MAENHAUT, Isaura / GEURTS, Anouk",NaN,7,2,8,7,2,...,7,19,3,1.0,16.0,DNF (20),13.0,6.0,120,100
7,8,ITA 10,NaN,"GERMANI, Jana / TPK\nBERTUZZI, Giorgia",NaN,16,5,5,2,10,...,8,5,6,12.0,7.0,3,-18.0,8.0,118,100
8,9,NZL 11,NaN,"MALONEY, Alexandra / HOBBS, Olivia",NaN,3,10,5,10,10,...,3,10,9,11.0,3.0,10,-17.0,20.0,127,110
9,10,POL 888,NaN,"MELZACKA, Aleksandra JANKOWIAK, Sandra",NaN,2,7,2,1,8,...,7,15,13,7.0,17.0,-18,14.0,16.0,152,134
10,11,CAN 25,NaN,"TEN HOVE, Alexandra / MILLEN, Mariah",NaN,4,3,15,6,3,...,8,-18,10,14.0,11.0,4,11.0,NaN,137,119
11,12,NZL 75,NaN,"ALEH, Jo / TSC/TYPBC\nMEECH, Molly",NaN,6,12,16,4,15,...,5,3,8,-19.0,15.0,15,5.0,NaN,142,123
12,13,ITA 225,NaN,"GIUNCHIGLIA, Sofia /\nSCHIO, Gulia",NaN,8,12,14,5,1,...,11,12,11,10.0,9.0,8,6.0,NaN,"138,13","123,13"
13,14,GBR 230,NaN,"BRICKWOOD, Megan / ORTON, Stéphanie",NaN,6,10,1,11,3,...,10,7,15,13.0,13.0,-16,15.0,NaN,142,126
14,15,ESP 5,NaN,"SUAREZ, Patricia / RCN CANTERO, Maria",NaN,10,4,-15,6,5,...,5,6,14,5.0,10.0,14,12.0,NaN,141,126
15,16,NED 1,NaN,"VAN AANHOLT, Odile / SIEWERS, Emma",NaN,DNF (20),DNF 20,13,4,9,...,2,2,16,16.0,5.0,13,16.0,NaN,147,127
16,17,AUS 47,NaN,"HARDING, Laura / WILMOT, Annie",NaN,4,6,3,12,14,...,DSQ (20),9,5,18.0,18.0,6,19.0,NaN,154,134
17,18,FRA 84,NaN,"PICON, Charline / LA STEYEART, Sarah",NaN,12,11,17,2,13,...,3,13,-18,17.0,12.0,7,10.0,NaN,161,143
18,19,NOR 372,NaN,"DAHL ANDER, Pia / EDLAND, Nora",NaN,5,14,11,12,4,...,14,14,7,15.0,-19.0,17,9.0,NaN,163,144
19,20,ITA 46,NaN,"OMARI, Carlotta / SEZ CARRARO, Sveva",NaN,7,7,9,10,11,...,16,6,2,NaN,NaN,NaN,NaN,NaN,100,84
20,21,GBR 24,NaN,"BLACK, Freya / WPNSA\nTIDEY, Saskia",NaN,12,3,12,7,4,...,DSQ 20,1,1,NaN,NaN,NaN,NaN,NaN,105,85
21,22,ITA 317,NaN,"SICOURI, Silvia / MARCHESINI, Maria",NaN,14,-15,4,3,13,...,9,11,3,NaN,NaN,NaN,NaN,NaN,101,86
22,23,FRA 22,NaN,"LOVADINA, Mathilde / RIOU, Marine",NaN,11,8,10,8,7,...,18,7,6,NaN,NaN,NaN,NaN,NaN,113,93
23,24,ITA 99,NaN,"PASSAMONTI, Arianna FAVA, Gulia",NaN,3,4,-18,11,17,...,13,9,5,NaN,NaN,NaN,NaN,NaN,116,98
24,25,AUS 44,NaN,"PRICE, Olivia / MHYC / HASELDINE, Evie",NaN,13,2,11,14,5,...,9,5,7,NaN,NaN,NaN,NaN,NaN,119,99
25,26,FRA 702,NaN,"PEYRE, Manon STAMMINGER DE",NaN,10,6,7,-17,7,...,10,15,12,NaN,NaN,NaN,NaN,NaN,119,102
26,27,JPN 586,NaN,"TANAKA, Misaki / NAGAMATSU, Sera",NaN,-18,17,2,9,11,...,13,8,11,NaN,NaN,NaN,NaN,NaN,121,103
27,28,GBR 379,NaN,"BRISTOW, Hannah / CARPENTER, Anna",NaN,14,14,7,-17,9,...,4,13,10,NaN,NaN,NaN,NaN,NaN,122,105
28,29,USA 42,NaN,"WILMOT, Lucy / RYC.\nREINEKE, Erika",NaN,9,16,13,16,16,...,11,4,4,NaN,NaN,NaN,NaN,NaN,127,110
29,30,GER 224,NaN,"BOEHM, Nadine / WEISSKICHEL, Lena",NaN,9,9,12,15,15,...,12,3,14,NaN,NaN,NaN,NaN,NaN,129,113
30,31,POL 525,NaN,"CZAPSKA, Gabriela / RAJCHERT, Hanna /",NaN,DNF (20),DNF 20,8,13,18,...,12,2,9,NaN,NaN,NaN,NaN,NaN,147,127
31,32,ESP 411,NaN,"GARAU, Marina / GARCIA, Carlota",NaN,15,9,16,16,14,...,4,DSQ 20,BFD (20),NaN,NaN,NaN,NaN,NaN,157,137
32,33,EST 305,NaN,"PAIS, Helen / KALEV AUSMAN, Helen",NaN,DNF (20),15,10,14,16,...,16,12,17,NaN,NaN,NaN,NaN,NaN,164,144
33,34,HKG 88,NaN,"HIGHFIELD, Molly / CHOI, Sandy",NaN,13,11,18,13,17,...,19,DNC (20),15,NaN,NaN,NaN,NaN,NaN,168,148
34,35,SWE 199,NaN,"HENRIKSSON, Julia /\nPETTERSON, Caroline",NaN,DNF (20),DNF 20,9,15,12,...,15,14,16,NaN,NaN,NaN,NaN,NaN,174,154
35,36,SWE 218,NaN,"MOSS, Alice / BERNTSSON, Ebba",NaN,DNC (20),DNC 20,DNC 20,DNC 20,DNC 20,...,17,10,8,NaN,NaN,NaN,NaN,NaN,184,164
36,37,PER 324,NaN,"TUDELA, Diana / CRL BARRON, Adriana",NaN,17,18,19,18,DNF (20),...,15,17,13,NaN,NaN,NaN,NaN,NaN,188,168
37,38,IND 36,NaN,"TOMAR, Harshita / SHERVEGAR, Sweta",NaN,DNF (20),DNF 20,17,RET 20,18,...,14,16,BFD 20,NaN,NaN,NaN,NaN,NaN,200,180

In [ ]:
list_of_data = list()
for each_athlete in range(len(df9)):
    data = list(df9.iloc[each_athlete])
    for each_regata in range(5, 21):
        list_of_data.append([data[0], data[3], data[1].split(" ")[0], df9.columns[each_regata], data[each_regata], data[-2], data[-1], "49ERFX", "Semaine Olympique Francaise De Voile 2022"])

df9_auxi = pd.DataFrame(columns=["Position", "Athlete", "Nacionalidade", "Regata", "Pontuação Regata", "Total", "Net", "Classe Vela", "Nome Competição"], data=list_of_data)
df9_auxi.head()

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Total,Net,Classe Vela,Nome Competição
0,1,"GRAEL, Martine / RYC KUNZE, Kahena",BRA,1Q,8,81,68,49ERFX,Semaine Olympique Francaise De Voile 2022
1,1,"GRAEL, Martine / RYC KUNZE, Kahena",BRA,2Q,-13,81,68,49ERFX,Semaine Olympique Francaise De Voile 2022
2,1,"GRAEL, Martine / RYC KUNZE, Kahena",BRA,3Q,4,81,68,49ERFX,Semaine Olympique Francaise De Voile 2022
3,1,"GRAEL, Martine / RYC KUNZE, Kahena",BRA,4Q,5,81,68,49ERFX,Semaine Olympique Francaise De Voile 2022
4,1,"GRAEL, Martine / RYC KUNZE, Kahena",BRA,5Q,8,81,68,49ERFX,Semaine Olympique Francaise De Voile 2022

# TPS IQFOIL 2023 FEM

In [ ]:
url10 = "https://www.trofeoprincesasofia.org/en/default/races/race-resultsall"
df10 = pd.read_csv("../../arquivos10.csv", encoding='iso-8859-1', sep=";")
df10

,Pos,Sail #,Bow,Crew / Club,Cat,1Q,2Q,3Q,4Q,5Q,6Q,7F,8F,9F,TOTAL,NET
0,1,FRA 1,6,"LECOINTRE, Camille / sáciete des MION, Jeremie...",NaN,5,5,3,1,9,5,9,-12,1,50,38
1,2,ESP 44,1,"XAMMAR, Jordi / Real Club Náutico BRUGMAN, Nor...",NaN,4,1,4,4,2,9,-24,1,14,63,39
2,3,GER 13,4,"WINKEL , Malte / NRV / SYC WINKEL, Anastasiya /",NaN,1,2,15,11,2,4,14,-28,7,84,56
3,4,GER 11,3,"DIESCH, Simon / SUNNY MARKFORT, Anna / SUNNY",NaN,9,1,13,6,3,2,10,13,-18,75,57
4,5,GER 50,16,"LÖFFLER, Theresa / DTYC / ANGIE HOERR, Christo...",NaN,7,8,14,1,4,8,11,-14,5,72,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,64,GER 68,65,"KELLER, Max / Spandauer POLSTER, Linnéa / Yach...",NaN,DNC (35),DNC 35,28,23,32,32,10,33,28,256,221
64,65,GER 12,58,"PORTHUN, Paul / Mühlenberger BERGMANN, Leonie /",NaN,25,27,30,BFD (35),28,33,30,21,31,260,225
65,66,BRA 111,62,"GANDOLPHO, Luisa / GRANADO GANDOLPHO, Antonio ...",NaN,DNC (35),DNC 35,34,21,31,31,25,31,30,273,238
66,67,GER 49,64,"WEHRLE, Amelie / ULTRAMARIN/\nHONOLD, Riccardo...",NaN,DNC (35),DNC 35,32,32,32,29,29,28,25,277,242
67,68,POL 13,67,"SCHMIDT, Pola\nPANA?, Maciej",NaN,DNC (35),DNC 35,31,34,34,31,STP 33,32,33,298,263

In [ ]:
list_of_data = list()
for each_athlete in range(len(df10)):
    data = list(df10.iloc[each_athlete])
    for each_regata in range(5, 14):
        list_of_data.append([data[0], data[3].split(" / ")[0], data[1].split(" ")[0], df10.columns[each_regata], data[each_regata], data[-2], data[-1], "IQFOIL FEM.", "Trofeo S.A.R Princesa Sofia 2023"])

df10_auxi = pd.DataFrame(columns=["Position", "Athlete", "Nacionalidade", "Regata", "Pontuação Regata", "Total", "Net", "Classe Vela", "Nome Competição"], data=list_of_data)
df10_auxi.head()

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Total,Net,Classe Vela,Nome Competição
0,1,"LECOINTRE, Camille",FRA,1Q,5,50,38,IQFOIL MASC.,Trofeo S.A.R Princesa Sofia 2023
1,1,"LECOINTRE, Camille",FRA,2Q,5,50,38,IQFOIL MASC.,Trofeo S.A.R Princesa Sofia 2023
2,1,"LECOINTRE, Camille",FRA,3Q,3,50,38,IQFOIL MASC.,Trofeo S.A.R Princesa Sofia 2023
3,1,"LECOINTRE, Camille",FRA,4Q,1,50,38,IQFOIL MASC.,Trofeo S.A.R Princesa Sofia 2023
4,1,"LECOINTRE, Camille",FRA,5Q,9,50,38,IQFOIL MASC.,Trofeo S.A.R Princesa Sofia 2023

# TPS NACRA 17 2023

In [ ]:
url11 = "https://www.trofeoprincesasofia.org/en/default/races/race-resultsall"
df11 = pd.read_csv("../../arquivos11.csv", encoding='iso-8859-1', sep=";")
df11

,Pos,Sail #,Bow,Crew / Club,Cat,1Q,2Q,3Q,4Q,5Q,6Q,7F,8F,9F,TOTAL,NET
0,1,FRA 1,6,"LECOINTRE, Camille / sáciete des MION, Jeremie...",NaN,5,5,3,1,9,5,9,-12,1,50,38
1,2,ESP 44,1,"XAMMAR, Jordi / Real Club Náutico BRUGMAN, Nor...",NaN,4,1,4,4,2,9,-24,1,14,63,39
2,3,GER 13,4,"WINKEL , Malte / NRV / SYC WINKEL, Anastasiya /",NaN,1,2,15,11,2,4,14,-28,7,84,56
3,4,GER 11,3,"DIESCH, Simon / SUNNY MARKFORT, Anna / SUNNY",NaN,9,1,13,6,3,2,10,13,-18,75,57
4,5,GER 50,16,"LÖFFLER, Theresa / DTYC / ANGIE HOERR, Christo...",NaN,7,8,14,1,4,8,11,-14,5,72,58
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63,64,GER 68,65,"KELLER, Max / Spandauer POLSTER, Linnéa / Yach...",NaN,DNC (35),DNC 35,28,23,32,32,10,33,28,256,221
64,65,GER 12,58,"PORTHUN, Paul / Mühlenberger BERGMANN, Leonie /",NaN,25,27,30,BFD (35),28,33,30,21,31,260,225
65,66,BRA 111,62,"GANDOLPHO, Luisa / GRANADO GANDOLPHO, Antonio ...",NaN,DNC (35),DNC 35,34,21,31,31,25,31,30,273,238
66,67,GER 49,64,"WEHRLE, Amelie / ULTRAMARIN/\nHONOLD, Riccardo...",NaN,DNC (35),DNC 35,32,32,32,29,29,28,25,277,242
67,68,POL 13,67,"SCHMIDT, Pola\nPANA?, Maciej",NaN,DNC (35),DNC 35,31,34,34,31,STP 33,32,33,298,263

In [ ]:
list_of_data = list()
for each_athlete in range(len(df11)):
    data = list(df11.iloc[each_athlete])
    for each_regata in range(5, 14):
        list_of_data.append([data[0], data[3].split(" / ")[0], data[1].split(" ")[0], df11.columns[each_regata], data[each_regata], data[-2], data[-1], "NACRA 17", "Trofeo S.A.R Princesa Sofia 2023"])

df11_auxi = pd.DataFrame(columns=["Position", "Athlete", "Nacionalidade", "Regata", "Pontuação Regata", "Total", "Net", "Classe Vela", "Nome Competição"], data=list_of_data)
df11_auxi.head()

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Total,Net,Classe Vela,Nome Competição
0,1,"LECOINTRE, Camille",FRA,1Q,5,50,38,NACRA 17,Trofeo S.A.R Princesa Sofia 2023
1,1,"LECOINTRE, Camille",FRA,2Q,5,50,38,NACRA 17,Trofeo S.A.R Princesa Sofia 2023
2,1,"LECOINTRE, Camille",FRA,3Q,3,50,38,NACRA 17,Trofeo S.A.R Princesa Sofia 2023
3,1,"LECOINTRE, Camille",FRA,4Q,1,50,38,NACRA 17,Trofeo S.A.R Princesa Sofia 2023
4,1,"LECOINTRE, Camille",FRA,5Q,9,50,38,NACRA 17,Trofeo S.A.R Princesa Sofia 2023

In [ ]:
dataframes = [df1_auxi, df2_auxi, df3_auxi, df4_auxi, df5_auxi, df6_auxi, df7_auxi, df8_auxi, df9_auxi, df10_auxi, df11_auxi]

df_combined = pd.concat(dataframes, ignore_index=True)
df_combined.dropna(subset=['Pontuação Regata'], inplace=True)
df_combined

,Position,Athlete,Nacionalidade,Regata,Pontuação Regata,Total,Net,Classe Vela,Nome Competição
0,1,"MOBEKK, MINA / MINA MOBEKK",NOR,1Q (CR),-15,207,116,IQFOIL FEM.,European Championship 2023
1,1,"MOBEKK, MINA / MINA MOBEKK",NOR,2Q (CR),2,207,116,IQFOIL FEM.,European Championship 2023
2,1,"MOBEKK, MINA / MINA MOBEKK",NOR,3Q (CR),6,207,116,IQFOIL FEM.,European Championship 2023
3,1,"MOBEKK, MINA / MINA MOBEKK",NOR,4Q (QR),3,207,116,IQFOIL FEM.,European Championship 2023
4,1,"MOBEKK, MINA / MINA MOBEKK",NOR,5Q (QR),3,207,116,IQFOIL FEM.,European Championship 2023
...,...,...,...,...,...,...,...,...,...
10230,68,"SCHMIDT, Pola\nPANA?, Maciej",POL,5Q,34,298,263,NACRA 17,Trofeo S.A.R Princesa Sofia 2023
10231,68,"SCHMIDT, Pola\nPANA?, Maciej",POL,6Q,31,298,263,NACRA 17,Trofeo S.A.R Princesa Sofia 2023
10232,68,"SCHMIDT, Pola\nPANA?, Maciej",POL,7F,STP 33,298,263,NACRA 17,Trofeo S.A.R Princesa Sofia 2023
10233,68,"SCHMIDT, Pola\nPANA?, Maciej",POL,8F,32,298,263,NACRA 17,Trofeo S.A.R Princesa Sofia 2023
10234,68,"SCHMIDT, Pola\nPANA?, Maciej",POL,9F,33,298,263,NACRA 17,Trofeo S.A.R Princesa Sofia 2023

In [ ]:
def nomes(valor:str) -> str:
    return unidecode(valor).upper()

df_combined["Athlete"] = df_combined["Athlete"].apply(nomes)

def regata(valor:str) -> str:
    return valor.split(" ")[0]

df_combined["Regata"] = df_combined["Regata"].apply(regata)

In [ ]:
df_combined.to_csv("cluster_1_resolvido.csv")