In [1]:
import pandas as pd 
import numpy as np 
from unidecode import unidecode

In [3]:
matheus = pd.read_csv("../../scraping_2024/output/matheus.csv", low_memory=False)
sillas = pd.read_csv("../../scraping_2024/output/sillas.csv", low_memory=False)
final_data_regata = pd.read_csv("final_data_regata.csv", low_memory=False)

In [16]:
final_data = pd.concat([final_data_regata, matheus, sillas]).reset_index(drop=True)
final_data["ID Resultado"] = final_data.index + 1

def fix_names(value:str) -> str:
    for each_number in range(0, 10):
        value = str(value).replace(f"{each_number}", "")
    return unidecode(value).upper()

final_data["Nome Competidor"] = final_data["Nome Competidor"].apply(fix_names)

In [17]:
final_data.head()

,ID Resultado,ID Competidor,Nome Competidor,ID Competição,Classe Vela,Pontuação Regata,Descarte,Flotilha,Posição Geral,Punição,Pontuação Total,Nett,Nome Competição,Regata,Nacionalidade
0,1,3269.0,MINA MOBEKK,19.0,IQFOIL FEM.,15.0,0,NaN,1,0,207,116,European Championship 2023,1Q,NaN
1,2,3269.0,MINA MOBEKK,19.0,IQFOIL FEM.,2.0,0,NaN,1,0,207,116,European Championship 2023,2Q,NaN
2,3,3269.0,MINA MOBEKK,19.0,IQFOIL FEM.,6.0,0,NaN,1,0,207,116,European Championship 2023,3Q,NaN
3,4,3269.0,MINA MOBEKK,19.0,IQFOIL FEM.,3.0,0,NaN,1,0,207,116,European Championship 2023,4Q,NaN
4,5,3269.0,MINA MOBEKK,19.0,IQFOIL FEM.,3.0,0,NaN,1,0,207,116,European Championship 2023,5Q,NaN

In [18]:
final_data.tail()

,ID Resultado,ID Competidor,Nome Competidor,ID Competição,Classe Vela,Pontuação Regata,Descarte,Flotilha,Posição Geral,Punição,Pontuação Total,Nett,Nome Competição,Regata,Nacionalidade
139082,139083,NaN,AIJA AMBRASA,NaN,KITE FEM.,27.0,0,Silver,22,DNC,412.0,333.0,World Championship 2024,F8,LAT
139083,139084,NaN,SOPHIE RENNIE,NaN,KITE FEM.,19.0,0,Silver,23,0,412.0,336.0,World Championship 2024,F8,GBR
139084,139085,NaN,EMILIA KOSTI,NaN,KITE FEM.,27.0,0,Silver,24,UFD,441.0,360.0,World Championship 2024,F8,GRE
139085,139086,NaN,MARTYNA DAKOWICZ,NaN,KITE FEM.,27.0,0,Silver,25,UFD,450.0,369.0,World Championship 2024,F8,CAN
139086,139087,NaN,MAGDALENA WOYCIECHOWSKA,NaN,KITE FEM.,27.0,0,Silver,26,DNC,513.0,432.0,World Championship 2024,F8,POL

# Arrumando Atletas

In [19]:
lista_de_atletas = sorted(list(final_data["Nome Competidor"].astype(str).unique()))
df_atletas = pd.DataFrame(data=lista_de_atletas, columns=["Nome Competidor"])
df_atletas["ID Competidor"] = df_atletas.index + 1
df_atletas

                    Nome Competidor  ID Competidor
0               AGUILAR CHAVEZ PEON              1
1                        ROMANOWSKI              2
2                   , ERDAGLI MERIC              3
3                       ABAY BERKAY              4
4                    ABDULLA JANAHI              5
...                             ...            ...
5293                   ZOHAR HARUVI           5294
5294                    ZOI BOUTANG           5295
5295  ZOYA NOVIKOVA, DIANA SABIROVA           5296
5296              ZWAENEPOEL BRECHT           5297
5297              ZYUZINA EKATERINA           5298

[5298 rows x 2 columns]

# Arrumando Competições

In [20]:
lista_de_competicoes = sorted(list(final_data["Nome Competição"].unique()))
df_competicoes = pd.DataFrame(data=lista_de_competicoes, columns=["Nome Competição"])
df_competicoes["ID Competição"] = df_competicoes.index + 1
df_competicoes

                                 Nome Competição  ID Competição
0                      Alpsee-Skiff-Weekend 2023              1
1                     Auftaktregatta - ILCA 2024              2
2                   CAMPEONATO ABERTO BELGA 2023              3
3                 Campeonato Nórdico Aberto 2023              4
4   Central and South American Championship 2022              5
..                                           ...            ...
64                       World Championship 2020             65
65                       World Championship 2021             66
66                       World Championship 2022             67
67                       World Championship 2023             68
68                       World Championship 2024             69

[69 rows x 2 columns]

# Arruamndo os ID

In [22]:
dict_competicoes = dict()
for each_row in range(len(df_competicoes)):
    dados = df_competicoes.iloc[each_row]
    dict_competicoes[dados["Nome Competição"]] = dados["ID Competição"]

list_of_data = list()
for each_competition in final_data["Nome Competição"]:
    list_of_data.append(dict_competicoes[each_competition])

final_data["ID Competição"] = list_of_data
final_data.head()

,ID Resultado,ID Competidor,Nome Competidor,ID Competição,Classe Vela,Pontuação Regata,Descarte,Flotilha,Posição Geral,Punição,Pontuação Total,Nett,Nome Competição,Regata,Nacionalidade
0,1,3269.0,MINA MOBEKK,19,IQFOIL FEM.,15.0,0,NaN,1,0,207,116,European Championship 2023,1Q,NaN
1,2,3269.0,MINA MOBEKK,19,IQFOIL FEM.,2.0,0,NaN,1,0,207,116,European Championship 2023,2Q,NaN
2,3,3269.0,MINA MOBEKK,19,IQFOIL FEM.,6.0,0,NaN,1,0,207,116,European Championship 2023,3Q,NaN
3,4,3269.0,MINA MOBEKK,19,IQFOIL FEM.,3.0,0,NaN,1,0,207,116,European Championship 2023,4Q,NaN
4,5,3269.0,MINA MOBEKK,19,IQFOIL FEM.,3.0,0,NaN,1,0,207,116,European Championship 2023,5Q,NaN

In [24]:
dict_atletas = dict()
for each_row in range(len(df_atletas)):
    dados = df_atletas.iloc[each_row]
    dict_atletas[dados["Nome Competidor"]] = dados["ID Competidor"]

list_of_data = list()
for each_atleta in final_data["Nome Competidor"]:
    list_of_data.append(dict_atletas[each_atleta])

final_data["ID Competidor"] = list_of_data
final_data.head()

,ID Resultado,ID Competidor,Nome Competidor,ID Competição,Classe Vela,Pontuação Regata,Descarte,Flotilha,Posição Geral,Punição,Pontuação Total,Nett,Nome Competição,Regata,Nacionalidade
0,1,3502,MINA MOBEKK,19,IQFOIL FEM.,15.0,0,NaN,1,0,207,116,European Championship 2023,1Q,NaN
1,2,3502,MINA MOBEKK,19,IQFOIL FEM.,2.0,0,NaN,1,0,207,116,European Championship 2023,2Q,NaN
2,3,3502,MINA MOBEKK,19,IQFOIL FEM.,6.0,0,NaN,1,0,207,116,European Championship 2023,3Q,NaN
3,4,3502,MINA MOBEKK,19,IQFOIL FEM.,3.0,0,NaN,1,0,207,116,European Championship 2023,4Q,NaN
4,5,3502,MINA MOBEKK,19,IQFOIL FEM.,3.0,0,NaN,1,0,207,116,European Championship 2023,5Q,NaN

In [26]:
final_data["Classe Vela"].unique()

array(['IQFOIL FEM.', 'IQFOIL MASC.', 'FORMULA KITE FEM.',
       'FORMULA KITE MASC.', '49ER', '49ERFX', 'NACRA 17', 'ILCA 6',
       'ILCA 7', '470', 'IQFOIL 8', 'IQFOIL 9', 'KITE', 'KITE MASC.',
       'KITE FEM.'], dtype=object)

In [28]:
list_of_data = list()
for each_row in range(len(final_data)):
    dados = final_data["Classe Vela"].iloc[each_row]
    list_of_data.append(dados.upper())

final_data["Classe Vela"] = list_of_data

def fix_classe(value:str) -> str:
    if value == "IQFOIL FEM. " or value == "IQFOIL FEM":
        return "IQFOIL FEM."
    elif value == "NACRA" or value == "NACRA17":
        return "NACRA 17"
    elif value == "IQFOIL MASC":
        return "IQFOIL MASC."
    else:
        return value
    
final_data["Classe Vela"] = final_data["Classe Vela"].apply(fix_classe)
final_data["Classe Vela"].unique()

array(['IQFOIL FEM.', 'IQFOIL MASC.', 'FORMULA KITE FEM.',
       'FORMULA KITE MASC.', '49ER', '49ERFX', 'NACRA 17', 'ILCA 6',
       'ILCA 7', '470', 'IQFOIL 8', 'IQFOIL 9', 'KITE', 'KITE MASC.',
       'KITE FEM.'], dtype=object)

# Nacionalidade

In [30]:
dict_nacionalidades = dict()
for i in range(len(final_data)):
    data = final_data.iloc[i]
    dict_nacionalidades[data[2]] = data[-1]

C:\Users\mathe\AppData\Local\Temp\ipykernel_11596\3619975457.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  dict_nacionalidades[data[2]] = data[-1]

In [32]:
def arruma_nac(valor):
    return dict_nacionalidades[valor]

final_data["Nacionalidade"] = final_data["Nome Competidor"].apply(arruma_nac)

In [34]:
final_data["Nacionalidade"].value_counts()

Nacionalidade
FRA    7449
GBR    5095
ITA    4861
GER    4734
AUS    4354
       ...
MKD      20
OMA      14
MDA      12
ALG      12
ANG      11
Name: count, Length: 93, dtype: int64

In [37]:
final_data.head()

,ID Resultado,ID Competidor,Nome Competidor,ID Competição,Classe Vela,Pontuação Regata,Descarte,Flotilha,Posição Geral,Punição,Pontuação Total,Nett,Nome Competição,Regata,Nacionalidade
0,1,3502,MINA MOBEKK,19,IQFOIL FEM.,15.0,0,NaN,1,0,207,116,European Championship 2023,1Q,NOR
1,2,3502,MINA MOBEKK,19,IQFOIL FEM.,2.0,0,NaN,1,0,207,116,European Championship 2023,2Q,NOR
2,3,3502,MINA MOBEKK,19,IQFOIL FEM.,6.0,0,NaN,1,0,207,116,European Championship 2023,3Q,NOR
3,4,3502,MINA MOBEKK,19,IQFOIL FEM.,3.0,0,NaN,1,0,207,116,European Championship 2023,4Q,NOR
4,5,3502,MINA MOBEKK,19,IQFOIL FEM.,3.0,0,NaN,1,0,207,116,European Championship 2023,5Q,NOR

In [36]:
final_data.tail()

,ID Resultado,ID Competidor,Nome Competidor,ID Competição,Classe Vela,Pontuação Regata,Descarte,Flotilha,Posição Geral,Punição,Pontuação Total,Nett,Nome Competição,Regata,Nacionalidade
139082,139083,51,AIJA AMBRASA,69,KITE FEM.,27.0,0,Silver,22,DNC,412.0,333.0,World Championship 2024,F8,LAT
139083,139084,4549,SOPHIE RENNIE,69,KITE FEM.,19.0,0,Silver,23,0,412.0,336.0,World Championship 2024,F8,GBR
139084,139085,1289,EMILIA KOSTI,69,KITE FEM.,27.0,0,Silver,24,UFD,441.0,360.0,World Championship 2024,F8,GRE
139085,139086,3256,MARTYNA DAKOWICZ,69,KITE FEM.,27.0,0,Silver,25,UFD,450.0,369.0,World Championship 2024,F8,CAN
139086,139087,3000,MAGDALENA WOYCIECHOWSKA,69,KITE FEM.,27.0,0,Silver,26,DNC,513.0,432.0,World Championship 2024,F8,POL

In [38]:
final_data.to_csv("final_data_regata.csv", index=False)

In [39]:
with pd.ExcelWriter('final_data_regata.xlsx') as writer:
    final_data.to_excel(writer, sheet_name='Súmulas', index=False)
    df_atletas.to_excel(writer, sheet_name='Atletas', index=False)
    df_competicoes.to_excel(writer, sheet_name='Competições', index=False)