In [107]:
import pandas as pd 
import numpy as np 
from unidecode import unidecode

In [108]:
dataframe = pd.read_csv("final_data.csv", low_memory=False)
dataframe.dropna(subset=["Nome Competidor", "Nome Competição"])

,ID Resultado,ID Competidor,Nome Competidor,ID Competição,Classe Vela,Pontuação Regata,Descarte,Flotilha,Posição Geral,Punição,Pontuação Total,Nett,Nome Competição,Regata,Id Resultado,Id Competidor,Id Competição
0,NaN,NaN,MINA MOBEKK,NaN,IQFOIL FEM.,15.0,0,NaN,1,0,207,116,European Championship 2023,1Q,NaN,NaN,NaN
1,NaN,NaN,MINA MOBEKK,NaN,IQFOIL FEM.,2.0,0,NaN,1,0,207,116,European Championship 2023,2Q,NaN,NaN,NaN
2,NaN,NaN,MINA MOBEKK,NaN,IQFOIL FEM.,6.0,0,NaN,1,0,207,116,European Championship 2023,3Q,NaN,NaN,NaN
3,NaN,NaN,MINA MOBEKK,NaN,IQFOIL FEM.,3.0,0,NaN,1,0,207,116,European Championship 2023,4Q,NaN,NaN,NaN
4,NaN,NaN,MINA MOBEKK,NaN,IQFOIL FEM.,3.0,0,NaN,1,0,207,116,European Championship 2023,5Q,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82863,NaN,NaN,"BILLY, CHAUVIN",NaN,Nacra 17,17.0,1,G,30,NaN,162.0,145.0,World Championship 2023,Race 5 Yellow,NaN,NaN,NaN
82864,NaN,NaN,"GESLIN GRIMAUD, DECLEF",NaN,Nacra 17,20.0,0,G,40,NaN,282.0,256.0,World Championship 2023,Race 5 Yellow,NaN,NaN,NaN
82865,NaN,NaN,"YANG, HU",NaN,Nacra 17,10.0,0,G,22,NaN,220.0,194.0,World Championship 2023,Race 5 Yellow,NaN,NaN,NaN
82866,NaN,NaN,"PORRO, DEZULIAN",NaN,Nacra 17,11.0,0,G,23,NaN,222.0,196.0,World Championship 2023,Race 5 Yellow,NaN,NaN,NaN
82867,NaN,NaN,"WATANABE, UEDA",NaN,Nacra 17,26.0,0,G,48,NaN,328.0,302.0,World Championship 2023,Race 5 Yellow,NaN,NaN,NaN

In [109]:
dataframe.head()

,ID Resultado,ID Competidor,Nome Competidor,ID Competição,Classe Vela,Pontuação Regata,Descarte,Flotilha,Posição Geral,Punição,Pontuação Total,Nett,Nome Competição,Regata,Id Resultado,Id Competidor,Id Competição
0,NaN,NaN,MINA MOBEKK,NaN,IQFOIL FEM.,15.0,0,NaN,1,0,207,116,European Championship 2023,1Q,NaN,NaN,NaN
1,NaN,NaN,MINA MOBEKK,NaN,IQFOIL FEM.,2.0,0,NaN,1,0,207,116,European Championship 2023,2Q,NaN,NaN,NaN
2,NaN,NaN,MINA MOBEKK,NaN,IQFOIL FEM.,6.0,0,NaN,1,0,207,116,European Championship 2023,3Q,NaN,NaN,NaN
3,NaN,NaN,MINA MOBEKK,NaN,IQFOIL FEM.,3.0,0,NaN,1,0,207,116,European Championship 2023,4Q,NaN,NaN,NaN
4,NaN,NaN,MINA MOBEKK,NaN,IQFOIL FEM.,3.0,0,NaN,1,0,207,116,European Championship 2023,5Q,NaN,NaN,NaN

In [110]:
dataframe.drop(["Id Resultado", "Id Competidor", "Id Competição"], axis=1, inplace=True)

In [111]:
dataframe.head()

,ID Resultado,ID Competidor,Nome Competidor,ID Competição,Classe Vela,Pontuação Regata,Descarte,Flotilha,Posição Geral,Punição,Pontuação Total,Nett,Nome Competição,Regata
0,NaN,NaN,MINA MOBEKK,NaN,IQFOIL FEM.,15.0,0,NaN,1,0,207,116,European Championship 2023,1Q
1,NaN,NaN,MINA MOBEKK,NaN,IQFOIL FEM.,2.0,0,NaN,1,0,207,116,European Championship 2023,2Q
2,NaN,NaN,MINA MOBEKK,NaN,IQFOIL FEM.,6.0,0,NaN,1,0,207,116,European Championship 2023,3Q
3,NaN,NaN,MINA MOBEKK,NaN,IQFOIL FEM.,3.0,0,NaN,1,0,207,116,European Championship 2023,4Q
4,NaN,NaN,MINA MOBEKK,NaN,IQFOIL FEM.,3.0,0,NaN,1,0,207,116,European Championship 2023,5Q

In [112]:
dataframe["ID Resultado"] = dataframe.index + 1

In [113]:
dataframe.head()

,ID Resultado,ID Competidor,Nome Competidor,ID Competição,Classe Vela,Pontuação Regata,Descarte,Flotilha,Posição Geral,Punição,Pontuação Total,Nett,Nome Competição,Regata
0,1,NaN,MINA MOBEKK,NaN,IQFOIL FEM.,15.0,0,NaN,1,0,207,116,European Championship 2023,1Q
1,2,NaN,MINA MOBEKK,NaN,IQFOIL FEM.,2.0,0,NaN,1,0,207,116,European Championship 2023,2Q
2,3,NaN,MINA MOBEKK,NaN,IQFOIL FEM.,6.0,0,NaN,1,0,207,116,European Championship 2023,3Q
3,4,NaN,MINA MOBEKK,NaN,IQFOIL FEM.,3.0,0,NaN,1,0,207,116,European Championship 2023,4Q
4,5,NaN,MINA MOBEKK,NaN,IQFOIL FEM.,3.0,0,NaN,1,0,207,116,European Championship 2023,5Q

In [114]:
def fix_names(value:str) -> str:
    for each_number in range(0, 10):
        value = str(value).replace(f"{each_number}", "")
    return unidecode(value).upper()

In [115]:
dataframe["Nome Competidor"] = dataframe["Nome Competidor"].apply(fix_names)

# Arrumando Atletlas

In [116]:
lista_de_atletas = sorted(list(dataframe["Nome Competidor"].astype(str).unique()))

In [117]:
df_atletas = pd.DataFrame(data=lista_de_atletas, columns=["Nome Competidor"])

In [118]:
df_atletas["ID Competidor"] = df_atletas.index + 1

In [119]:
df_atletas

                    Nome Competidor  ID Competidor
0               AGUILAR CHAVEZ PEON              1
1                        ROMANOWSKI              2
2                   , ERDAGLI MERIC              3
3                       ABAY BERKAY              4
4                    ABDULLA JANAHI              5
...                             ...            ...
4231                   ZOHAR HARUVI           4232
4232                    ZOI BOUTANG           4233
4233  ZOYA NOVIKOVA, DIANA SABIROVA           4234
4234              ZWAENEPOEL BRECHT           4235
4235              ZYUZINA EKATERINA           4236

[4236 rows x 2 columns]

# Arrumando Competições

In [120]:
lista_de_competicoes = sorted(list(dataframe["Nome Competição"].unique()))

In [121]:
df_competicoes = pd.DataFrame(data=lista_de_competicoes, columns=["Nome Competição"])

In [122]:
df_competicoes["ID Competição"] = df_competicoes.index + 1

In [123]:
df_competicoes

                                 Nome Competição  ID Competição
0                      Alpsee-Skiff-Weekend 2023              1
1                     Auftaktregatta - ILCA 2024              2
2                   CAMPEONATO ABERTO BELGA 2023              3
3                 Campeonato Nórdico Aberto 2023              4
4   Central and South American Championship 2022              5
..                                           ...            ...
58                       World Championship 2019             59
59                       World Championship 2020             60
60                       World Championship 2021             61
61                       World Championship 2022             62
62                       World Championship 2023             63

[63 rows x 2 columns]

# Arrumando IDs

In [124]:
dict_competicoes = dict()
for each_row in range(len(df_competicoes)):
    dados = df_competicoes.iloc[each_row]
    dict_competicoes[dados["Nome Competição"]] = dados["ID Competição"]

In [125]:
list_of_data = list()
for each_competition in dataframe["Nome Competição"]:
    list_of_data.append(dict_competicoes[each_competition])

In [126]:
dataframe["ID Competição"] = list_of_data

In [127]:
dict_atletas = dict()
for each_row in range(len(df_atletas)):
    dados = df_atletas.iloc[each_row]
    dict_atletas[dados["Nome Competidor"]] = dados["ID Competidor"]

In [128]:
list_of_data = list()
for each_atleta in dataframe["Nome Competidor"]:
    list_of_data.append(dict_atletas[each_atleta])

In [129]:
dataframe["ID Competidor"] = list_of_data

# Arrumando Classes

In [130]:
list_of_data = list()
for each_row in range(len(dataframe)):
    dados = dataframe["Classe Vela"].iloc[each_row]
    list_of_data.append(dados.upper())

dataframe["Classe Vela"] = list_of_data

In [131]:
def fix_classe(value:str) -> str:
    if value == "IQFOIL FEM. " or value == "IQFOIL FEM":
        return "IQFOIL FEM."
    elif value == "NACRA" or value == "NACRA17":
        return "NACRA 17"
    elif value == "IQFOIL MASC":
        return "IQFOIL MASC."
    else:
        return value

In [132]:
dataframe["Classe Vela"] = dataframe["Classe Vela"].apply(fix_classe)

In [133]:
with pd.ExcelWriter('final_data_regata.xlsx') as writer:
    dataframe.to_excel(writer, sheet_name='Súmulas', index=False)
    df_atletas.to_excel(writer, sheet_name='Atletas', index=False)
    df_competicoes.to_excel(writer, sheet_name='Competições', index=False)